* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;
}

main{
    align-items: center;
    justify-content: space-around;
    display: flex;
}

article {
    width: 100%;
    min-width: 40em;
    background-color: aliceblue;
    border-radius: 3px;
    padding: 1em;
    margin: 1em;

    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;

    border-width: 0px;
    background-color: white;
    margin-bottom: 10px;
    
    box-shadow: 0px 0px 8px 2px #4b4b4b;

}

.navlinks a:hover {
    background: #5B86E5;
    color: black;
  }

.navlinks{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.navlinks a{
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
}

.navlinks li{
    list-style: none;
}